<div class="px-[15%] w-full m-auto h-[100vh] absolute top-0 bottom-0 left-[50%] translate-x-[-50%] flex bg-white overflow-hidden">
  <div id="split" class="absolute z-10 top-0 bottom-0 w-[22%] bg-white pointer-events-none" style="mix-blend-mode: exclusion;"></div>
  <a [routerLink]="['/posts']" class="text-8xl flex justify-center items-center w-[50%] cursor-pointer">
    <span>Posts</span>
  </a>
  <a [routerLink]="['/users']" class="text-8xl flex justify-center items-center w-[50%] cursor-pointer">
    <span>Users</span>
  </a>
</div>
